/* background image gone */
body {
  background-color: #155151;
  /* background-image: url(g:/task/tutor/programming/css/resources/background_02_sakura_e01.png); */
}

.framework {
  background-color: #E6E6FA;
  width: 1366px;
  height: 768px;
  margin: auto;
  position: absolute;
}

.crosstexture {
  height: 768px;
  position: absolute;
  clip: rect(0px, 260px, 768px, 0px);
  /* opacity: 0.5;  */
}

.phitakhon {
  margin-top: 10px;
  margin-left: 30px;
  position: relative;
}

.menu {
    position: relative;
}

ul {
  list-style-type: none;
  margin: 0px; 
  padding: 0;
}

li a {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #f1f1f1;
  text-decoration: none;
  text-align: center;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 30px;
  color: #000000;
  border: 2px solid black;
  border-radius: 12px;
  padding: 0px 0px;  
   margin-top: 30px; 
   margin-left: 28px;  
}

li a:hover {
  background-color: #248f24;
  color: #ffffff;
}

