body {
  background-image: url(https://github.com/liuTeacherA/liuteachera.github.io/blob/master/background_02_sakura_e01.png?raw=true);
}

.framework {
  background-color: #00b38f;
  width: 1366px;
  height: 768px;
  margin: auto;
  position: relative;
}

.crosstexture {
  height: 768px;
  position: absolute;
  clip: rect(0px, 260px, 768px, 0px);
}

.phitakhon {
  margin-top: 10px;
  margin-left: 30px;
  position: relative;
}

.menu {
    position: relative;
}

ul {
  list-style-type: none;
  margin: 0px; 
  padding: 0;
}

li a {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #f1f1f1;
  text-decoration: none;
  text-align: center;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 30px;
  color: #000000;
  border: 4px solid #16664e;
  border-radius: 12px;
  padding: 0px 0px;  
   margin-top: 30px; 
   margin-left: 28px;  
}

li a:hover {
  background-color: #7cce7c;
  color: #ffffff;
}

.gallery_container {
  position: absolute;
  left: 313px;
  top: 0px;
  width: 900px;
  height: 668px;
  padding: 50px;
  background-color: #669999;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 309px 309px;
  grid-gap: 50px;
}

.gallery_container div {
  background-color: #26734d;
  padding: 10px;
}

.gallery_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8%;
}